.hero {
  width: 100%;
  height: 800px;
  background-image: url("../../img/doctors.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .banner{
    height: 100%;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgba(12, 98, 145, .7);
    h1 {
      color: #C5D6D8;
      font-family: 'Fira Sans', sans-serif;
      font-size: 80px;
      margin-bottom: 0;
      text-align: center;
    }
    h4 {
      color: #B4C3C5;
      font-family: 'Montserrat', sans-serif;
      font-size: 28px;
      margin-top: 20px;
    }
    form {
      font-family: 'Fira Sans', sans-serif;
      height: 190px;
      width: 190px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      label {
        font-size: 20px;
        color: #0B0E0E;
        font-weight: bold;
      }
      input, select {
        // border-radius: 2rem;
        height: 30px;
      }
      button {
        background-color: #111D4A;
        border: 2px solid #C5D6D8;
        color: #C5D6D8;
        margin-top: 20px;
        padding: 8px 8px 20px;
        border-radius: 2rem;

      }
    }
  }
}

.doctorList {
  background-color: #19647E;
  height: 800px;
  overflow: auto;
  display: flex;

  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    li {
      font-family: 'Fira Sans', sans-serif;
      display: block;
      margin: 10px;
      background-color: #4D5359;
      color: #171123;
      width: 500px;
      height: 200px;
      border: 5px solid #5B85AA;
      box-shadow: 4px 4px 4px black;
      display: flex;
      padding: 8px;
      border-radius: 10px;
    }
    li:nth-child(even){
      background-color: #5B85AA;
    }
  }
}
